html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.profile {
  width: 250px;
  text-align: centr;
  margin: auto;
  border: solid 1px #d8dfe7;
}
.description {
  width: 250px;
  height: auto;
}
.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  color: #333333;
  text-align: center;
}
.tag {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: #666666;
}
.location {
  line-height: 32px;
  font-size: 14px;
  color: #a3afbd;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #f3f6f9;
  border-radius: 0 0 5px 5px;
}
.list {
  align-items: center;
  flex-direction: column;
  width: 85px;
  border: solid 1px #d8dfe7;
}
.label {
  padding-top: 22px;
  font-size: 12px;
  color: #a3afbd;
  display: flex;
}
.quantity {
  padding-bottom: 22px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}
